name: Add Changeset with New Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version type (patch, minor, major)"
        required: true
        default: "patch"
        type: choice
        options:
          - patch
          - minor
          - major
      message:
        description: "Version message"
        required: true
        default: ""

permissions: read-all

jobs:
  add_changeset:
    permissions:
      contents: write

    if: github.actor == 'zemd'
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout Repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - name: Setup Node.js 22.x
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Create changeset file
        run: |
          FILE_NAME=".changeset/$(uuidgen).md"
          echo "---" > "$FILE_NAME"
          echo '"@zemd/eslint-flat-config": ${{ inputs.version }}' >> "$FILE_NAME"
          echo "---" >> "$FILE_NAME"
          echo "" >> "$FILE_NAME"
          echo "${{ inputs.message }}" >> "$FILE_NAME"

      - name: Commit changeset
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .changeset
          git commit -m "Add changeset: ${{ inputs.version }} - ${{ inputs.message }}"

      - name: Push changes
        run: git push origin HEAD
